<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler" />
  </configSections>
  <log4net>
    <root>
      <level value="DEBUG" />
    </root>
  </log4net>

  <system.runtime.remoting>
    <application name="Log4netRemotingServer">
      <channels>
        <channel displayName="Server Channel" ref="tcp server" port="8085" />
      </channels>
    </application>
  </system.runtime.remoting>
  
</configuration>
